{% extends 'backlinks.html.twig' %}

{% block section %}

    <div class="formHead">
        <h1>Liste des statuts</h1>
        <div class="buttonAdd">
            <a href="{{ path('statut_new') }}">Ajouter un nouveau statut</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statut in statuts %}
            <tr>
                <td><a href="{{ path('statut_edit', { 'id': statut.id }) }}">{{ statut.nom }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('statut_edit', { 'id': statut.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('statut_edit', { 'id': statut.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="buttonAddBottom">
        <a href="{{ path('statut_new') }}">Ajouter un nouveau statut</a>
    </div>
{% endblock %}
