{% extends 'backlinks.html.twig' %}
{% block title %}
    Liste des utilisateurs
{% endblock %}
{% block section %}
    <div class="formHead">
        <h1>Liste des utilisateurs</h1>
        <div class="buttonAdd">
            <a href="{{ path('user_new') }}">Ajouter un nouvel utilisateur</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                <td>{{ user.password }}</td>
                <td>{% for role in user.roles %}
                     {{ role.name }}
                {% endfor %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="addBottom">
        <div class="buttonAddBottom">
            <a href="{{ path('user_new') }}">Ajouter un nouvel utilisateur</a>
        </div>
        <div class="buttonAddBottom">
            <a href="{{ path('role_new') }}">Ajouter un nouveau rôle</a>
        </div>
    </div>
{% endblock %}
