{% extends 'base.html.twig' %}

{% block section %}
    <h1>Liste des Campings</h1>

    
    <table class='table'>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Département</th>
                <th>Région</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for camping in campings %}
            <tr>
                <td><a href="{{ path('camping_show', { 'id': camping.id }) }}">{{ camping.nomCamping }}</a></td>
                {% if camping.departement == NULL %}
                <td></td>
                {% else %}
                <td>{{ camping.departement.nom }}</td>
                {% endif %}
                {% if camping.region == NULL %}
                <td></td>
                {% else %}
                <td>{{ camping.region.nom }}</td>
                {% endif %}
                {% if camping.ville == NULL %}
                <td></td>
                {% else %}
                <td>{{ camping.ville.nom }}</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('camping_show', { 'id': camping.id }) }}">Suggestion d'url</a>
                        </li>
                        <li>
                            <a href="{{ path('camping_edit', { 'id': camping.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('camping_delete', { 'id': camping.id }) }}">Supprimer </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('camping_new') }}">Ajouter un nouveau camping</a>
        </li>
    </ul>
{% endblock %}
