{% extends 'base.html.twig' %}

{% block section %}
    <h1>Camping {{ camping.nomCamping }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du Camping</th>
                <td>{{ camping.nomCamping }}</td>
            </tr>
            <tr>
                <th>Département</th>
                {% if camping.departement == NULL %}
                <td></td>
                {% else %}
                <td>{{ camping.departement.nom }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Région</th>
                {% if camping.region == NULL %}
                <td></td>
                {% else %}
                <td>{{ camping.region.nom }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Ville</th>
                {% if camping.ville == NULL %}
                <td></td>
                {% else %}
                <td>{{ camping.ville.nom }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('camping_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('camping_edit', { 'id': camping.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    
        
{% endblock %}
