{% extends 'base.html.twig' %}

{% block section %}
    <h1>Camping {{ camping.nomCamping }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du Camping</th>
                <td>{{ camping.nomCamping }}</td>
            </tr>
            <tr>
                <th>Département</th>
                <td>{{ camping.departement.nom }}</td>
            </tr>
            <tr>
                <th>Région</th>
                <td>{{ camping.region.nom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ camping.ville.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('camping_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('camping_edit', { 'id': camping.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
