{% extends 'base.html.twig' %}

{% block body %}
    <h1>Camping</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ camping.id }}</td>
            </tr>
            <tr>
                <th>Nom du Camping</th>
                <td>{{ camping.nomCamping }}</td>
            </tr>
            <tr>
                <th>Département</th>
                <td>{{ camping.depCamping }}</td>
            </tr>
            <tr>
                <th>Région</th>
                <td>{{ camping.regionCamping }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ camping.villeCamping }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('camping_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('camping_edit', { 'id': camping.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
