{% extends 'base.html.twig' %}

{% block body %}
    <h1>Langues list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for langue in langues %}
            <tr>
                <td><a href="{{ path('langue_show', { 'id': langue.id }) }}">{{ langue.id }}</a></td>
                <td>{{ langue.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('langue_show', { 'id': langue.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('langue_edit', { 'id': langue.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('langue_new') }}">Create a new langue</a>
        </li>
    </ul>
{% endblock %}
