{% extends 'backlinks.html.twig' %}

{% block title %}
    Liste des langues
{% endblock %}

{% block section %}
    
    <div class="formHead">
        <h1>Liste des langues</h1>
        <div class="buttonAdd">
            <a href="{{ path('langue_new') }}">Ajouter une nouvelle langue</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for langue in langues %}
            <tr>
                <td><a href="{{ path('langue_edit', { 'id': langue.id }) }}">{{ langue.nom }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('langue_show', { 'id': langue.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('langue_edit', { 'id': langue.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="buttonAddBottom">
        <a href="{{ path('langue_new') }}">Ajouter une nouvelle langue</a>
    </div>
{% endblock %}
