<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('public/CSS/dataTable.min.css') }}">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/CSS/maxcdn.bootstrapcdn.min.css') }}">
        <link rel="shortcut icon" href="{{ asset('public/img/favicon.png') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('public/img/favicon.png') }} "/>
        <link rel="icon" type="image/png" href="{{ asset('public/img/favicon.png') }}" />
        <link type="text/css" rel="stylesheet" media="all" href="{{ asset('public/CSS/style.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                <div class="header_container">
                    <div class="logo_container">
                        <a class="logo"><img src="{{ asset('public/img/logo.png') }}"></a>
                    </div>
                    <div class="header_title">
                        <h1 class="accueil_title">Outils SEO</h1>
                    </div>

                </div>
                <hr id='endHeader'>
                {% if(is_granted('ROLE_ADMIN')) %}
                <a href="{{ path('user_index') }}" class="settings_accueil btn-info btn-lg">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                {% endif %}
                     
                
            {% endblock %}

    {% block flashbag %}
        {% for flash in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <p align="center">{{ flash }}</p>
            </div>
        {% endfor %}
        {% for flash in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                <p align="center">{{ flash }}</p>
            </div>
        {% endfor %}
        {% for flash in app.session.flashbag.get('notice') %}
            <div class="flash notice">
                <p align="center">{{ flash }}</p>
            </div>
        {% endfor %}
    {% endblock %}

    {% block section %}
    {% endblock %}
    {% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('public/script/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('public/script/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/script/dataTable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/script/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/script/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/script/dynamicForm.js') }}"></script>
{% endblock %}
    </body>
</html>
