<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('public/CSS/dataTable.min.css') }}">
        <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <link rel="stylesheet" type="text/css" href="{{ asset('public/CSS/maxcdn.bootstrapcdn.min.css') }}">
        <link type="text/css" rel="stylesheet" media="all" href="{{ asset('public/CSS/style.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block header %}
                <div class="header_container">
                    <div class="logo_container">
                        <a class="logo"><img src="{{ asset('public/img/logo.png') }}"></a>
                    </div>
                    <div class="header_title">
                        <h1>Gestion des Backlinks</h1>
                    </div>
                </div>
            {% endblock %}

    <nav class="navbar navbar-inverse">   
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a a href="{{ path('index') }}">Accueil</a></li>
                <li><a href="{{ path('site_index') }}">Url</a></li>
                <li><a href="{{ path('camping_index') }}">Campings</a></li>
                <li><a href="{{ path('region_index') }}">Régions</a></li>
                <li><a href="{{ path('departement_index') }}">Départements</a></li>
                <li><a href="{{ path('ville_index') }}">Villes</a></li>
                <li><a href="{{ path('statut_index') }}">Statuts</a></li>
                <li><a href="{{ path('topical_index') }}">Topical</a></li>
                <li><a href="{{ path('langue_index') }}">Langues</a></li>
                <li><a href="{{ path('type_index') }}">Types</a></li>
            </ul>
        </div>
    </nav>

    {% block flashbag %}
        {% for flash in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                <p align="center">{{ flash }}</p>
            </div>
        {% endfor %}
        {% for flash in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                <p align="center">{{ flash }}</p>
            </div>
        {% endfor %}
        {% for flash in app.session.flashbag.get('notice') %}
            <div class="flash notice">
                <p align="center">{{ flash }}</p>
            </div>
        {% endfor %}
    {% endblock %}

    {% block section %}
    {% endblock %}
    {% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('public/script/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('public/script/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/script/dataTable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/script/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/script/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/script/dynamicForm.js') }}"></script>
{% endblock %}
    </body>
</html>
