{% extends 'backlinks.html.twig' %}

{% block section %}

    <div class="formHead">
        <h1>Liste des types</h1>
        <div class="buttonAdd">
            <a href="{{ path('type_new') }}">Ajouter un nouveau type</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td><a href="{{ path('type_edit', { 'id': type.id }) }}">{{ type.nom }}</a></td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('type_edit', { 'id': type.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('type_edit', { 'id': type.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="buttonAddBottom">
        <a href="{{ path('type_new') }}">Ajouter un nouveau type</a>
    </div>
{% endblock %}
