{% extends 'base.html.twig' %}

{% block section %}
    <h1>Liste des Url</h1>

    <div class="panel panel-default content-forum">
    <table class="table">
        <thead>
            <tr>
                <th>Url</th>
                <th>Titre</th>
                <th>Statut</th>
                <th>Camp</th>
                <th>CT</th>
                <th>TF</th>
                <th>Topical</th>
                <th>Langue</th>
                <th>Région</th>
                <th>Département</th>
                <th>Ville</th>
                <th>Type</th>
                <th>Difficulte</th>
                <th>Infos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td><a href="{{ path('site_show', { 'id': site.id }) }}">{{ site.url }}</a></td>
                <td>{{ site.titre }}</td>
                {% if site.statut == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.statut.nom }}</td>
                {% endif %}
                <td>{{ site.camp }}</td>
                <td>{{ site.cT }}</td>
                <td>{{ site.tF }}</td>
                {% if site.topical == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.topical.nom }}</td>
                {% endif %}
                {% if site.langue == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.langue.nom }}</td>
                {% endif %}
                {% if site.region == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.region.nom }}</td>
                {% endif %}
                {% if site.departement == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.departement.nom }}</td>
                {% endif %}
                {% if site.ville == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.ville.nom }}</td>
                {% endif %}
                {% if site.type == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.type.nom }}</td>
                {% endif %}
                <td>{{ site.difficulte }}</td>
                <td>{{ site.infos }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('site_show', { 'id': site.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('site_edit', { 'id': site.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <ul>
        <li>
            <a href="{{ path('site_new') }}">Create a new site</a>
        </li>
    </ul>
{% endblock %}
