{% extends 'base.html.twig' %}

{% block body %}
    <h1>Site</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ site.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ site.url }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ site.titre }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ site.statut }}</td>
            </tr>
            <tr>
                <th>Camp</th>
                <td>{{ site.camp }}</td>
            </tr>
            <tr>
                <th>Ct</th>
                <td>{{ site.cT }}</td>
            </tr>
            <tr>
                <th>Tf</th>
                <td>{{ site.tF }}</td>
            </tr>
            <tr>
                <th>Topical</th>
                <td>{{ site.topical }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                {% if site.langue == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.langue.nom }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Region</th>
                {% if site.region == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.region.nom }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Departement</th>
                {% if site.departement == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.departement.nom }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Ville</th>
                {% if site.ville == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.ville.nom }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Type</th>
                {% if site.ville == NULL %}
                <td></td>
                {% else %}
                <td>{{ site.type.nom }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Difficulte</th>
                <td>{{ site.difficulte }}</td>
            </tr>
            <tr>
                <th>Infos</th>
                <td>{{ site.infos }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('site_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('site_edit', { 'id': site.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
