{% extends 'base.html.twig' %}

{% block title %}Modification du département{% endblock %}

{% block section %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">Modification du département</div>
        <div class="panel-body">
          <div class="container col-md-10 col-md-offset-1">    
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
            <hr>
            <table>
                <tr>
                    <td>
                        <input type="submit" value="Modifier" class="button" >
                        {{ form_end(edit_form) }}</td>
                    <td>{{ form_start(delete_form) }}
                        <input type="submit" value="Supprimer" class="buttonSup">
                        {{ form_end(delete_form) }}</td>
                    <td>
                        <div class="buttonLink">
                        <a href="{{ path('departement_index') }}">Retour à la liste</a>
                        </div>
                    </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}