{% extends 'backlinks.html.twig' %}

{% block section %}
    <div class="formHead">
        <h1>Liste des départements</h1>
        <div class="buttonAdd">
            <a href="{{ path('departement_new') }}">Ajouter un nouveau département</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>
                <td>{{ departement.code }}</td>
                <td><a href="{{ path('departement_show', { 'id': departement.id }) }}">{{ departement.nom }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('departement_edit', { 'id': departement.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('departement_edit', { 'id': departement.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="buttonAddBottom">
        <a href="{{ path('departement_new') }}">Ajouter un nouveau département</a>
    </div>
{% endblock %}
